<div class="col-3 bg-white mx-auto p3 mt3">
<span class="h2 mb2 block">Forgot your password?</span>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="mb2">
    <%= f.email_field :email, class: 'field col-12', autofocus: true, :placeholder => 'Email' %>
  </div>

  <div>
    <%= f.submit "Reset Password", class: 'btn btn-primary bg-green col-12' %>
  </div>
<% end %>
