<%# app/views/students/_list.html.erb %>

<div class="mt4">
  <div class="mx-auto flex flex-wrap col-8">
    <% posts.each do |post| %>
      <div class="p2 col-4 border-box">
        <div class="relative p2 bg-white">
          <div><%= link_to(post.title, post_path(post)) %></div>
          <div><%= (post.created_at+12*60*60).strftime('%a %d %b %Y') %> </div>
          <div class="p1 absolute top-0 right-0"><%= image_tag "categories/#{post.category.parameterize}.png" %></div>
        </div>
      </div>
    <% end %>

    <div id="paginator">
      <%= paginate @posts, :remote => true %>
    </div>
  </div>
</div>

